$c-very-light-gray: hsl(228, 33%, 97%);
$c-white: hsl(0, 0%, 100%);
$c-light-gray: hsl(223, 19%, 93%);
$c-moderate-blue: hsl(238, 40%, 52%);
$c-light-grayish-blue: hsl(239, 57%, 85%);
$c-soft-red: hsl(358, 79%, 66%);
$c-pale-red: hsl(357, 100%, 86%);

$border-radius-main: .5rem;
*{
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: $c-very-light-gray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  width: 100%;
  text-align: center;
}
.comment{
  display: flex;
}

// BUTTONS
.button {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  button{
    color: $c-moderate-blue;
    background-color: $c-very-light-gray;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0 0 .5rem;
    border: none;
  }
  
}
.button-delete{
  button{
    color: $c-soft-red;
  }
}
.button-submit{
  button{
    color: $c-very-light-gray;
    background-color: $c-moderate-blue;
    padding: .8rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: $border-radius-main;
  }
}

//BUTTON HOVER STATES
.button:hover *{
  cursor: pointer;
  color: $c-light-grayish-blue;
  fill: $c-light-grayish-blue;
}

.button-delete:hover *{
  color: $c-pale-red;
  fill: $c-pale-red;
}
.button-submit:hover *{
  cursor: pointer;
  opacity: .3;
}

//ATTRIBUTION STYLING
.attribution { 
  position: fixed;
  bottom: .5vh;
  left: 0;
  right: 0;
  font-size: 1.8vw;
  text-align: center;
  a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  } 
  a:hover{
    color: hsl(228, 60%, 33%);
    
  }
}
