$c-very-light-gray: hsl(228, 33%, 97%);
$c-white: hsl(0, 0%, 100%);
$c-light-gray: hsl(223, 19%, 93%);
$c-moderate-blue: hsl(238, 40%, 52%);
$c-light-grayish-blue: hsl(239, 57%, 85%);
$c-soft-red: hsl(358, 79%, 66%);
$c-pale-red: hsl(357, 100%, 86%);
$c-grayish-blue: hsl(211, 10%, 45%);
$c-dark-blue: hsl(212, 24%, 26%);
$border-radius-main: .5rem;
*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}
.hidden{
  display: none;
}
body{
  background-color: $c-light-gray;
  box-sizing: border-box;
  
}
.App{
  margin-top: 2rem;
}
p, span{
  color: $c-grayish-blue;
}
.score{
  color: $c-moderate-blue;
}

.comments{
  
  margin-left: auto;
  margin-right: auto;
  padding: Min(2rem, 5%);
}

.comment-block{
  min-width:18.25rem;
  display: flex;
  .border-line{
    border-left: 2px solid $c-grayish-blue;
    opacity: .1;
    padding-right: Min(2vw, 1rem);
    
  }
  .border-line:last-of-type{
    margin-bottom: 1rem;
  }
}

.comment-section{
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $c-very-light-gray;
  border-radius: .6rem;

  .comment{
    display: flex;
    flex-direction: column;
    gap: 1rem;    
  }

  .comment-border-score{
    display: none;
  }
  
  //COMMENT HEADING 
  .comment-heading{

    .comment-heading-body{
      display: flex;
      align-items: center;
      gap: 1rem;
      .username{
        font-weight: 700;
        color: $c-dark-blue;
      }
      img{
        border-radius: 50%;
        height: 2rem;
      }
      .you-icon {
        background-color: $c-moderate-blue;
        display: flex;
        align-items: center;
        padding: .1rem .4rem;
        border-radius: .2rem;
        *{
          font-size: .8rem;
          color: $c-white;
        }
      }
    }
    
    .comment-heading-buttons{
      display: none;
    }
  }
  
  //COMMENT BODY
  //COMMENT FOOTER 
  .comment-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .comment-footer-buttons{
      display: flex;
      gap: 1rem;
    }
  }
}








// BUTTONS
.button {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;

  button{
    color: $c-moderate-blue;
    background-color: $c-very-light-gray;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0 0 .5rem;
    border: none;
  }
  
}
.button-delete{
  button{
    color: $c-soft-red;
  }
}
.button-submit{
  button{
    color: $c-very-light-gray;
    background-color: $c-moderate-blue;
    padding: .8rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: $border-radius-main;
  }
}

.likes{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6.25rem;
  height: 2rem;
  color: $c-moderate-blue;
  font-weight: 500;
  background-color: $c-light-gray;  
  border-radius: $border-radius-main;
  user-select: none;
  

  .plus,
  .minus{
    border: none;
    cursor: pointer;
  }

  .minus{
    padding-bottom: .4rem;
  }
}
textarea{
  align-self: center;
  outline: none;
  background-color: inherit;
  width: 90%;
  min-height: 4rem;
  font-size: 1rem;
  padding: .6rem 1rem;
  border-radius: .5rem;
  border: 1px solid $c-light-grayish-blue;
  resize: none;
}
textarea:hover, textarea:active{
  border: 1px solid $c-dark-blue;
}
.add-comment-block{

  .add-comment-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    img{
      display: none;
      width: 32px;
    } 
    .button{
      display: none;
    }
  }

  .add-comment-mobile-footer{
    display: flex;
    justify-content: space-between;
    img{
      width: 32px;
      display: block;
    } 
    .button{
      display: block;
    }
  }
}
//BUTTON HOVER STATES
.button:hover *{
  cursor: pointer;
  color: $c-light-grayish-blue;
  fill: $c-light-grayish-blue;
}

.button-delete:hover *{
  color: $c-pale-red;
  fill: $c-pale-red;
}
.button-submit:hover *{
  cursor: pointer;
  opacity: .3;
}

.likes button:hover * {
  fill: $c-moderate-blue;
}

//ATTRIBUTION STYLING
.attribution { 
  position: fixed;
  bottom: .5vh;
  left: 0;
  right: 0;
  font-size: Clamp(.8rem,1.8vw,1.2rem);
  text-align: center;
  a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  } 
  a:hover{
    color: hsl(228, 60%, 33%);
    
  }
}

@media screen and (min-width: 46rem) {
  .App{
    margin-top: 4rem;
  }
  .comments{
    max-width:Min(80vw, 46.25rem) ;
    padding: 0;
  }
  
  .comment-block{
    .border-line{
      padding-right: Min(2vw, 2rem);
      margin-left: Min(2vw, 2rem);
    }
.comment-section{
    
    //Comment

    //Comment Border Likes
    .comment-border-score{
      display: flex;
      flex-flow: column;
      min-width: 40px ;
      height:100px ;
    }

    //Comment Heading
    .comment-heading{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: inherit;

      .comment-heading-buttons{
        display: flex;
        gap: inherit;
      }
    }

    //Comment Body
    //Comment Footer
    .comment-footer{
    
      .comment-footer-score,
      .comment-footer-buttons{
        display: none;
      }
    }
  }
  }
  textarea{
    width: 100%;
  }
  .add-comment-block{
    .add-comment-section{
      flex-direction: row;
      img{
        width: 32px;
        display: block;
      } 
      .button{
        display: block;
      }
    }
    .add-comment-mobile-footer{
      display: none;
    }
  }
  
  
}
