$c-very-light-gray: hsl(228, 33%, 97%);
$c-light-gray: hsl(223, 19%, 93%);
$c-moderate-blue: hsl(238, 40%, 52%);
$c-light-grayish-blue: hsl(239, 57%, 85%);
$c-soft-red: hsl(358, 79%, 66%);
$c-pale-red: hsl(357, 100%, 86%);

*{
  font-family: 'Rubik', sans-serif;
}

body{
  background-color: $c-very-light-gray;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  width: 100%;
  text-align: center;
}

.button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  button{
    color: $c-moderate-blue;
    background-color: $c-very-light-gray;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 0 0 .5rem;
    border: none;
  }
  
}
.button-delete{
  button{
    color: $c-soft-red;
  }
}
.button:hover *{
  cursor: pointer;
  color: $c-light-grayish-blue;
  fill: $c-light-grayish-blue;
}
.button-delete:hover *{
  color: $c-pale-red;
  fill: $c-pale-red;
}


.attribution { 
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 11px; 
  text-align: center;
  a{
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  } 
  a:hover{
    color: hsl(228, 60%, 33%);
    font-size: 12px;
  }
}
